html {
  font-size: 16px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  margin: auto;
  max-width: 1200px;
  background-color: rgb(229, 240, 244);
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}

.app-title {
  color: #387ff2;
  font-size: 1.5rem;
}

.contact-add-section {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 40px 30px;
  max-width: 700px;
  border-radius: 7px;
}

.contact-add-inputs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a4a4a4;
  border-radius: 7px;
  height: 50px;
  width: 100%;
  text-align: center;
}

input:focus {
  outline: none;
}

.add-contact-btn {
  background-color: #387ff2;
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  width: 100%;
  height: 50px;
}

.err {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(230, 131, 131);
  color: #fff;
  border: 1px solid red;
  border-radius: 7px;
  margin: 20px auto;
  max-width: 700px;
  padding: 10px 10px;
}

.contacts-list {
  display: flex;
  margin: 40px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 40px 30px;
  max-width: 700px;
  border-radius: 7px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.contact {
  background-color: #fff;
  padding: 20px;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  border: 1px solid #387ff2;
  border-radius: 7px;
  background-color: #e2e8f0;
}

.contact-phone,
.contact-email,
.contact-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-name {
  width: 200px;
}

.contact-email {
  width: 300px;
}

.mail-icon,
.phone-icon,
.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border: 1px solid #387ff2;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}

.no-contact {
  display: flex;
  font-weight: 600;
  justify-content: center;
  color: #a4a4a4;
}

.wrong-data {
  border-color: red;
}

@media (max-width: 767px) {
  .contacts-list {
    width: 90%;
  }

  .contact-add-section {
    width: 90%;
  }

  .contact {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-size: 0.9rem;
  }

  .contact-add-inputs {
    grid-template-columns: repeat(1, 1fr);
  }

  .no-contact {
    text-align: center;
  }

  .err {
    width: 90%;
  }
}
